<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IMedico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IMedico.Properties.Settings>
            <setting name="IMedico_localhostReceita_ServicoReceita" serializeAs="String">
                <value>http://localhost:12337/EasyMed.Service/ServicoReceita.asmx</value>
            </setting>
            <setting name="IMedico_localhostConsulta_ServiceConsulta" serializeAs="String">
                <value>http://localhost:12330/EasyMed.Service/ServiceConsulta.asmx</value>
            </setting>
        </IMedico.Properties.Settings>
    </applicationSettings>
</configuration>