USE [master]
GO
/****** Object:  Database [EasyMed]    Script Date: 14/05/2014 22:20:59 ******/
CREATE DATABASE [EasyMed]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EasyMed', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EasyMed.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EasyMed_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EasyMed_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasyMed].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasyMed]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administrador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](200) NULL,
 CONSTRAINT [PK_ADMINISTRADOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Analista_Estoque]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Analista_Estoque](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENDERECO] [int] NULL,
	[Telefone] [varchar](14) NOT NULL,
	[NOME] [varchar](200) NOT NULL,
	[Rg] [varchar](9) NOT NULL,
	[DATA_NASCIMENTO] [date] NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[Senha] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_ESTOQUISTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Atendente]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Atendente](
	[Matricula] [int] IDENTITY(1,1) NOT NULL,
	[ENDERECO] [int] NULL,
	[Telefone] [varchar](14) NOT NULL,
	[Rg] [varchar](9) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[NOME] [varchar](200) NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[Senha] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ATENDENTE] PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ATENDENTE_PACIENTE]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATENDENTE_PACIENTE](
	[MATRICULA_ATENDENTE] [int] NULL,
	[ID_PACIENTE] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[consulta]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[consulta](
	[NUMERO_PRONTUARIO] [int] IDENTITY(1,1) NOT NULL,
	[MEDICO] [int] NULL,
	[ENFERMEIRO] [int] NULL,
	[PACIENTE] [int] NULL,
	[DADOS_VITAIS] [int] NULL,
	[DATA_CONSULTA] [date] NOT NULL,
	[OBSERVACOES] [varchar](500) NOT NULL,
	[Situacao] [varchar](50) NULL,
	[DIAGNOSTICO] [int] NULL,
	[RECEITA] [int] NULL,
 CONSTRAINT [PK_NUMERO_PRONTUARIO] PRIMARY KEY CLUSTERED 
(
	[NUMERO_PRONTUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DADOS_VITAIS]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DADOS_VITAIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATA_CONSULTA] [date] NOT NULL,
	[PRESSAO] [varchar](6) NOT NULL,
	[PULSO] [varchar](6) NOT NULL,
	[TEMPERATURA] [varchar](5) NOT NULL,
	[RESPIRACAO] [varchar](6) NOT NULL,
 CONSTRAINT [PK_ID_DADOS_VITAIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MEDICO] [int] NULL,
	[Informacoes] [varchar](500) NOT NULL,
	[Data] [date] NOT NULL,
	[Nome] [varchar](300) NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGRADOURO] [varchar](100) NOT NULL,
	[NUMERO] [varchar](20) NOT NULL,
	[COMPLEMENTO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](60) NOT NULL,
	[CIDADE] [varchar](80) NOT NULL,
	[UF] [char](2) NOT NULL,
	[PAIS] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ENDERECO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Enfermeiro]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Enfermeiro](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENDERECO] [int] NULL,
	[COREN] [int] NOT NULL,
	[DATA_NASCIMENTO] [date] NOT NULL,
	[Rg] [varchar](9) NOT NULL,
	[Telefone] [varchar](14) NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[Senha] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_ENFEREMEIRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Farmaceutico]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Farmaceutico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENDERECO] [int] NULL,
	[CFF] [varchar](10) NOT NULL,
	[Telefone] [varchar](14) NOT NULL,
	[Rg] [varchar](9) NOT NULL,
	[DATA_NASCIMENTO] [date] NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[Senha] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_FARMACEUTICO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medicamento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Generico] [varchar](50) NOT NULL,
	[Nome_Comercial] [varchar](50) NOT NULL,
	[Composicao] [varchar](200) NOT NULL,
	[Contra_Ind] [varchar](200) NOT NULL,
	[Dosagem] [varchar](100) NOT NULL,
	[Indicações] [varchar](100) NOT NULL,
	[Fabricante] [varchar](50) NOT NULL,
	[Tipo] [varchar](30) NULL,
 CONSTRAINT [PK_CODIGO_MEDICAMENTO] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENDERECO] [int] NULL,
	[Especializacao] [varchar](20) NOT NULL,
	[Telefone] [varchar](14) NOT NULL,
	[DATA_NASCIMENTO] [date] NOT NULL,
	[Rg] [varchar](9) NOT NULL,
	[CRM] [varchar](10) NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[Senha] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_MEDICO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[ENDERECO] [int] NULL,
	[Nome] [varchar](200) NOT NULL,
	[Rg] [varchar](9) NOT NULL,
	[DATA_NASCIMENTO] [date] NOT NULL,
	[Telefone] [varchar](14) NOT NULL,
	[NOME_MAE] [varchar](200) NOT NULL,
	[NOME_PAI] [varchar](200) NULL,
	[NOME_RESPONSAVEL] [varchar](200) NULL,
	[Sexo] [varchar](20) NULL,
	[Raca] [varchar](20) NULL,
 CONSTRAINT [PK_PACIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Receita]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receita](
	[NUMERO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACIENTE] [int] NULL,
	[ID_MEDICO] [int] NULL,
 CONSTRAINT [PK_NUMERO] PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RECEITA_MEDICAMENTO]    Script Date: 14/05/2014 22:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECEITA_MEDICAMENTO](
	[CODIGO_MEDICAMENTO] [int] NULL,
	[NUMERO_RECEITA] [int] NULL,
	[Instrucoes] [varchar](500) NOT NULL,
	[QUANTIDADE] [varchar](20) NOT NULL,
	[DOSAGEM] [varchar](20) NOT NULL,
	[TEMPO_TRATAMENTO] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Analista_Estoque]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_ANALISTA_ESTOQUE] FOREIGN KEY([ENDERECO])
REFERENCES [dbo].[ENDERECO] ([ID])
GO
ALTER TABLE [dbo].[Analista_Estoque] CHECK CONSTRAINT [FK_ENDERECO_ANALISTA_ESTOQUE]
GO
ALTER TABLE [dbo].[Atendente]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO] FOREIGN KEY([ENDERECO])
REFERENCES [dbo].[ENDERECO] ([ID])
GO
ALTER TABLE [dbo].[Atendente] CHECK CONSTRAINT [FK_ENDERECO]
GO
ALTER TABLE [dbo].[ATENDENTE_PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_PACIENTE_ATENDENTE] FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[PACIENTE] ([ID])
GO
ALTER TABLE [dbo].[ATENDENTE_PACIENTE] CHECK CONSTRAINT [FK_ID_PACIENTE_ATENDENTE]
GO
ALTER TABLE [dbo].[ATENDENTE_PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_ATENDENTE_PACIENTE] FOREIGN KEY([MATRICULA_ATENDENTE])
REFERENCES [dbo].[Atendente] ([Matricula])
GO
ALTER TABLE [dbo].[ATENDENTE_PACIENTE] CHECK CONSTRAINT [FK_MATRICULA_ATENDENTE_PACIENTE]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [FK_DADOS_VITAIS] FOREIGN KEY([DADOS_VITAIS])
REFERENCES [dbo].[DADOS_VITAIS] ([ID])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [FK_DADOS_VITAIS]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [FK_ENFERMEIRO] FOREIGN KEY([ENFERMEIRO])
REFERENCES [dbo].[Enfermeiro] ([ID])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [FK_ENFERMEIRO]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [fk_id_diagnostico] FOREIGN KEY([DIAGNOSTICO])
REFERENCES [dbo].[Diagnostico] ([ID])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [fk_id_diagnostico]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [FK_MEDICO] FOREIGN KEY([MEDICO])
REFERENCES [dbo].[Medico] ([ID])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [FK_MEDICO]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [fk_NUMERO_RECEITA_CONSULTA] FOREIGN KEY([RECEITA])
REFERENCES [dbo].[Receita] ([NUMERO])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [fk_NUMERO_RECEITA_CONSULTA]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE] FOREIGN KEY([PACIENTE])
REFERENCES [dbo].[PACIENTE] ([ID])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [FK_PACIENTE]
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_MEDICO_DIAGNOSTICO] FOREIGN KEY([MEDICO])
REFERENCES [dbo].[Medico] ([ID])
GO
ALTER TABLE [dbo].[Diagnostico] CHECK CONSTRAINT [FK_MEDICO_DIAGNOSTICO]
GO
ALTER TABLE [dbo].[Enfermeiro]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_ENFERMEIRO] FOREIGN KEY([ENDERECO])
REFERENCES [dbo].[ENDERECO] ([ID])
GO
ALTER TABLE [dbo].[Enfermeiro] CHECK CONSTRAINT [FK_ENDERECO_ENFERMEIRO]
GO
ALTER TABLE [dbo].[Farmaceutico]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_FARMACEUTICO] FOREIGN KEY([ENDERECO])
REFERENCES [dbo].[ENDERECO] ([ID])
GO
ALTER TABLE [dbo].[Farmaceutico] CHECK CONSTRAINT [FK_ENDERECO_FARMACEUTICO]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_MEDICO] FOREIGN KEY([ENDERECO])
REFERENCES [dbo].[ENDERECO] ([ID])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_ENDERECO_MEDICO]
GO
ALTER TABLE [dbo].[PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_PACIENTE] FOREIGN KEY([ENDERECO])
REFERENCES [dbo].[ENDERECO] ([ID])
GO
ALTER TABLE [dbo].[PACIENTE] CHECK CONSTRAINT [FK_ENDERECO_PACIENTE]
GO
ALTER TABLE [dbo].[Receita]  WITH CHECK ADD  CONSTRAINT [FK_ID_MEDICO] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[Medico] ([ID])
GO
ALTER TABLE [dbo].[Receita] CHECK CONSTRAINT [FK_ID_MEDICO]
GO
ALTER TABLE [dbo].[Receita]  WITH CHECK ADD  CONSTRAINT [FK_ID_PACIENTE] FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[PACIENTE] ([ID])
GO
ALTER TABLE [dbo].[Receita] CHECK CONSTRAINT [FK_ID_PACIENTE]
GO
ALTER TABLE [dbo].[RECEITA_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_MEDICAMENTO] FOREIGN KEY([CODIGO_MEDICAMENTO])
REFERENCES [dbo].[Medicamento] ([Codigo])
GO
ALTER TABLE [dbo].[RECEITA_MEDICAMENTO] CHECK CONSTRAINT [FK_CODIGO_MEDICAMENTO]
GO
ALTER TABLE [dbo].[RECEITA_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_NUMERO_RECEITA] FOREIGN KEY([NUMERO_RECEITA])
REFERENCES [dbo].[Receita] ([NUMERO])
GO
ALTER TABLE [dbo].[RECEITA_MEDICAMENTO] CHECK CONSTRAINT [FK_NUMERO_RECEITA]
GO
USE [master]
GO
